html, body, header, footer, section, article, div, main,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button, nav, span, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

strong {
  font-weight: bold;
}

small {
  font-size: x-small;
}

a {
  color: blue;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right, whitesmoke, dimgray, whitesmoke);
  font-family: verdana;
  font-size: small;
}

h2 {
  font-weight: bold;
  font-size: x-large;
}

.img-pop:hover {
  -ms-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
}

main {
  position: relative;
  background: white;
  margin: 0 auto;
  max-width: 400px;
  height: 100%;
  padding: 40px 20px;
  text-align: center;
}

main > p {
  margin-bottom: 20px;
}

#title {
  font-style: italic;
}

#links > a {
  margin: 0 5px;
}
