html, body, header, footer, section, article, div, main,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, input, textarea, button, nav, span, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

strong {
  font-weight: bold;
}

small {
  font-size: x-small;
}

a {
  color: blue;
}

ul {
  list-style: none;
}

body {
  background: url(images/blue-sky3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: verdana;
  font-size: small;
  min-width: 800px;
  height: 1200px;
}

section {
  margin: auto;
  width: 600px;
}

h2 {
  font-weight: bold;
  font-size: x-large;
}

.cloud {
  background: white;
  box-shadow: 3px 3px 3px #555;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px;
}

#top-links {
  width: 400px;
  margin: 20px auto;
  padding: 5px 20px;
}

#top-links > img {
  float: right;
  height: 160px;
  width: auto;
}

#top-links > h2 {
  margin: 20px 0;
}

#top-links > p {
  margin: 20px 0 20px 25px;
  font-style: italic;
}

#top-links > figure {
  margin-left: 27px;
}

#top-links a > img {
  margin-right: 10px;
}

#top-links a > img:hover {
  -ms-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
}

#menu {
  margin: 20px auto;
  width: 400px;
  padding: 0 6px;
}

#menu li {
  display: inline-block;
  width: 74px;
  margin: 0 5px;
  text-align: center;
  font-weight: bold;
}

#menu li:hover {
  cursor: pointer;
}

#menu li:hover, #menu li.active {
  box-shadow: inset 3px 3px 3px #555;
}

main .cloud {
  margin-bottom: 20px;
}

main > .cloud > h2 {
  text-align: center;
  margin: 20px 0;
}

main > section {
  display: none;
}

#about {
  position: relative;
}

#about > p {
  margin: 10px 40px;
}

#about > p > a:hover {
  text-decoration: underline;
}

#ancient {
  color: blue;
}

#ancient:hover {
  cursor: pointer;
}

#ancient > img {
  position: absolute;
  top: 60px;
  left: 200px;
  display: none;
  border: 1px solid #aaa;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #555;
}

.about-icons {
  margin-right: 80px;
}

.about-icon {
  float: right;
  width: 80px;
  height: 80px;
}

.about-pic {
  float: right;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
}

p.know-more {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#skills table {
  margin: 20px auto;
}

#skills img {
  margin: 0 10px;
}

.project {
  margin: 40px auto;
}

.project > .project-pic {
  float: left;
  margin: 0 20px;
}

.project > p {
  margin-right: 20px;
}

.project > .project-pic:hover {
  box-shadow: inset 3px 3px 3px #555;
}

.project > .project-links {
  margin: 10px 0;
  text-align: center;
}

.project > .project-links > a {
  font-weight: bold;
}

.project > .project-links > a:hover {
  text-decoration: underline;
}

#contact > p {
  text-align: center;
}

#contact > a {
  width: 32px;
  display: block;
  margin: 20px auto 0 auto;
}

#contact > a > img:hover {
  -ms-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
}

#contact strong {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#contact strong > a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  color: #999;
  margin: 20px 0;
}
